<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Service.Properties.Settings.vt_habas_ekipman_takipConnectionString"
            connectionString="Data Source=DESKTOP-TG75KIL\SQLEXPRESS;Initial Catalog=vt_habas_ekipman_takip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>